* {
  margin: 0;
  padding: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Work Sans", sans-serif;
}

/* header */

.banner-img {
  background-image: url("../images/banner/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 620px;
  overflow: hidden;
  display: flex;
}

.banner-right-div {
  padding-left: 55%;
  padding-top: 15%;
  padding-right: 15%;
  text-align: end;
}
.banner-title {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}
.banner-p {
  font-size: 13px;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 15px;
}

.btn-primary {
  color: #005fac;
  padding: 12px 12px;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
}

/* failure section start */

.failure-section {
  width: 800px;
  display: flex;
  gap: 60px;
  margin: 100px 230px 100px 230px;
  align-items: center;
}

.failure-left-div {
  background-image: url("../images/person.png");
  width: 1200px;
  height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
}

.failure-right-div {
  padding-right: 50px;
}

.failure-title-h3 {
  font-size: 30px;
  margin: 10px 45px 10px 0;
  font-weight: 700;
  color: #151414;
}

.failure-p {
  color: #444343;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.failure-ul > li {
  color: #444343;
  margin-bottom: 5px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}
.failure-ul li span {
  color: #16d887;
}

/* my-plan-section */

.my-plan-section {
  text-align: center;
}

.myplan-title-h3 {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
}

.myplan-container-div {
  display: flex;
  align-items: center;
  gap: 90px;
  justify-content: center;
  padding-top: 50px;
}

.card-child {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.card-child img {
  width: 70px;
  height: 70px;
}

.card-child h3 {
  color: #151414;
  font-size: 18px;
  font-weight: 700;
}
.card-child p {
  color: #737272;
  font-size: 14px;
  font-weight: 500;
}

.down-banner {
  margin-top: 100px;
}

.down-banner-img {
  background-image: url("../images/gradient1.png"), url("../images/watch.png");
  width: 700px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 750px 250px, 750px 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-top: 50px;
  padding-left: 50px;
  /* margin-left: 200px;
  margin-right: 200px; */
}

.down-banner-img h3 {
  color: #ffffff;
  width: 400px;
  text-align: start;
  font-weight: 700;
  font-size: 27px;
}

/* footer start */

.footer-container {
  background-color: #141515;
  width: 100%;
  height: 500px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-footer {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 150px;
}

.left-footer h3 {
  font-size: 30px;
  font-weight: 700;
}
.left-footer p {
  font-size: 12px;
  font-weight: 500;
  padding-right: 120px;
}
.right-footer {
  flex-basis: 50%;
}

.left-footer-icon-div {
  display: flex;
  gap: 15px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: flex-start;
  padding-top: -100px;
}

.right-footer input {
  border: 1px solid white;
  background-color: transparent;
  padding: 13px 50px 13px 8px;
  border-radius: 5px;
  color: #ffffff;
}

.right-footer input::placeholder {
  color: #ffffff;
}

.right-footer button {
  background-color: #005fac;
  color: #ffffff;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
}
